@page
@model GiveawayPage.Pages.indexModel
@{
    ViewData["Title"] = "index";
}
<!DOCTYPE html>
<html>
<head>
    <link href="https://files.mastrchef.rocks/src/fonts/montserrat.css" rel="stylesheet" type="text/css">
    <style>
        * {
            font-family: 'Montserrat';
        }
    </style>
</head>
<body>
    <h2>Chef's Online Giveaway Helping Thing</h2>
</body>
</html>